*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "source code pro",monospace;
  }
/*.contenedorflex {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}*/
  header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   height: 34vh;
   background-image: url(./img/hockey2.jpg);
   background-size:cover;
   background-position-y:230px ;
   z-index: 1; 
  }
/* header .items {
  flex-direction: column;
}*/
header .titulo {
  margin-top: 15px;
margin-left: 30px;
justify-content:space-between;
  }

  header img {
    max-width: 160px;
    position: absolute;
    top: 70%;
    right: 10%;
    /* transform: translateY(-50%); */
    z-index: 1;
  } 
  header .encabezado {
    position: absolute;
    top: 30vh;
    width: 185vh;
    color:white;
    text-align: center;
    font-weight: 300;
    background-color: black;
    }

   /*section */

/*...imagen background con opacidad
main img { 
  height: 100vh;
  opacity: .3;
  position: absolute;
  margin-top: -291px;
  margin-left: 180px;
  margin-right: 100px;
}*/
main > div {
  height: 80vh;
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  flex-wrap: wrap;
 }

 .menu {
  position: absolute;
  max-width: 233px;
  font-size: 23px;
  z-index: 1;
  margin-top: 70px;
  margin-left: 40px;
  height: 30vh;

 
 }
 nav ul {
   list-style-type:square;
   color: #ffe600;
 }
 
 nav a {
 color: black;
 text-decoration-line:underline;
 }
 
 nav a:hover {
 color: #ffe600;
 font-weight: bold;
 text-decoration-style:double;
 } 


.eventos {
  height: 50vh;
  align-content:center;
  justify-content:center;
  text-align: justify;
    
  
  }

  section h3 {
  font-style: italic;
  margin: 15px;
  }

  section h4 {
   margin-left: 25px;
   color: rgb(62, 62, 62);
  }

  /* About Us }*/
#about .contenido{
  display: flex;
  position: relative;
  flex-wrap: wrap;
 flex-direction: row;
 align-content:flex-start;
}
#about .contenido{ 
width: 130vh;
position: absolute;
left: 210px;
max-height: 100vh;
top: 42vh;
}


.fondo{
  background-image: url(./img/hockey1.jpg);
  background-size:auto;
  background-position-y: -100px;
  background-position-x: 233px; 
  height: 100vh;
}

section article {  
 
 /* align-content:center;
  justify-content:center;
  text-align: justify;*/

   background-color: rgba(205, 202, 202, 0.763);
   font-size: 18px;
   text-align: justify;
   margin-left: 25px
 /*margin-top: 38px;
  margin-right: 130px;
  ;
  
  font-size: 18px;
  font-weight: 300; */
}
section p {
text-align:end;
}

/*contact*/

.contacto {
  background-color: rgb(234, 234, 234);
  height:90vh;
  display: flex;
  flex-direction: row;
}

section span { 
  font-size: 20px;
  color: blue;
text-decoration-line: underline;
}

main .text-contacto{
  width: 100vh;
  background-color: rgba(205, 202, 202, 0.763);
  margin-top: 40px; 
  margin-right: 338px; 
   margin-left: ;
  text-align: center;
  font-size: 18px; 
  font-weight: 300;
  height:20vh;
  
  }
  main .img-contact{
    justify-content: center;
    max-height: 55vh;
    margin-top: 200px;
    margin-left: 300px;
  }
  /*Game info*/
  #game-info{
  position: relative;
  display: flex;
  flex-direction: row;
border: 1px solid red;
flex-wrap: wrap;
  }
  .nota-tabla{
height: 40vh;
align-self: flex-end;
flex-wrap: wrap;
align-content:stretch;
  }
  

#gameinfo .tabla{
  border: 2px solid #ff0000;
  height: 50vh;
  flex-grow: 1;
  align-content: center;
  justify-content: center;

}
.info-adic{
  justify-content: center;
  height: 30vh;
  }

  /*rules

  section .sportsmanship{
    width: 130vh;
  position: absolute;
  left: 210px;
  max-height: 100vh;
  top: 42vh;
  }*/

main #rules{
  background-color: hsl(122, 100%, 50%);
  height: 100vh;
  display: flex;
  flex-direction: column;

}

 section .list-field{
  width: 130vh;
  position: absolute;
  margin-top: 180px;
  left: 210px;
  max-height: 100vh;
  top: 42vh;
 }
 fieldset{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

 }
 fieldset{
  margin-inline-start: 258px;
  margin-inline-end: 49px;
  padding-block-start: 4px;
  padding-inline-start: 2.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 4px;
  min-inline-size: revert;
  border-width: 13px;
  border-style: inset;
  border-color: rgb(253 223 92);
}

